In [51]:
#exercice1
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'];

df=pd.DataFrame(exam_data,index=labels)
df.head(3)
df.dropna()
df[["name","score"]]

In [88]:
df1=pd.DataFrame({"name":["Suresh"],"score":[15.5],"attempts":[1],"qualify":["yes"]})
df2=df.append(df1)
df3=df2.rename(index={0:'k'})
#mehode2 for k   :df.lock["k"]=["Suresh",15.5,yes]
df3
df3.drop("attempts",axis=1)

SyntaxError: invalid syntax (2164346795.py, line 7)

In [92]:
for index,row in df3.iterrows():
    if row['score']>10:
        df3['succes']="1"
    else:
        df3['succes']="0"
print(df3)

        name  score  attempts qualify succes
a  Anastasia   12.5         1     yes      1
b       Dima    9.0         3      no      1
c  Katherine   16.5         2     yes      1
d      James    NaN         3      no      1
e      Emily    9.0         2      no      1
f    Michael   20.0         3     yes      1
g    Matthew   14.5         1     yes      1
h      Laura    NaN         1      no      1
i      Kevin    8.0         2      no      1
j      Jonas   19.0         1     yes      1
k     Suresh   15.5         1     yes      1

In [93]:
df3.to_csv('my_data')